{% load user_filters %}
{% load recipe_filters %}
{% if request.user.is_authenticated and request.user != recipe.author %}
{% if recipe.author|subscription_filter:request.user %}
<li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться на автора</button></li>
{% else %}
<li class="single-card__item"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></li>
{% endif %}
{% endif %}