<!doctype html>
{% csrf_token %}
{% load user_filters %}
{% load recipe_filters %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рецепты</title>
    <link rel="stylesheet" href="{% static './pages/index.css' %}">
</head>
<body class="body">
 <header class="header">
{% include 'includes/nav.html' %}
</header>
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{ username.name }}</h1>
            {% include 'includes/tags.html' %}
        </div>
        <div class="author-subscribe" data-author="{{ username.id }}">
            {% if request.user.is_authenticated and request.user != username %}
            {% if following %}
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_auto"
                    name="subscribe">Отписаться от автора</button></p>
            {% else %}
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_auto"
                    name="subscribe" data-out>Подписаться на автора</button></p>
            {% endif %}
            {% endif %}
        </div>
        <div class="card-list">
    {% for recipe in page %}
    <div class="card" data-id="{{ recipe.id }}">
            <a href="{% url 'recipe_view' recipe.author.username recipe.id %}" class="link" target="_blank">
                {% if recipe.image %}
                    <img src="{{ recipe.image.url }}" width="364" height="240" alt=" {% static '/images/testCardImg.png' %}"
                        class="card__image"></a>
                {% else %}
                <img src="{% static '/images/testCardImg.png' %}" width="364" height="240" alt=" Image was broken" class="card__image"></a>
                {% endif %}
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe_view' recipe.author.username recipe.id %}" target="_blank"> {{ recipe.title }}</a>
                    {% if recipe.tags %}
                    <ul class="card__items">
                    {% for tag in recipe.tags.all %}
                    <li class="single-card__item"><span class="badge badge_style_{{tag.color}}">{{ tag.name }}</span></li>
                    {% endfor %}
                    {% endif %}
                    </ul>
                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ recipe.coocking_time }} мин.</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.name }}</a></p>
                </div>
            </div>
            <div class="card__footer">
                {% if request.user.is_authenticated %}
                {% if recipe|bag_filter:request.user %}
                <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span>Рецепт добавлен</button>
                {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                {% endif %}
                {% if recipe|favorite_filter:request.user %}
                <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                {% else %}
                <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                {% endif %}
                {% else %}
                <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span><a href="{% url 'signup' %}" style="color: black">Добавить в покупки</a></button>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
    </div>
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
    </main>
        {% include 'includes/footer.html' %}
  <script src="{% static './js/components/MainCards.js' %}"></script>
  <script src="{% static './js/components/Purchases.js' %}"></script>
  <script src="{% static './js/components/Favorites.js' %}"></script>
  <script src="{% static './js/components/Subscribe.js' %}"></script>
  <script src="{% static './js/config/config.js' %}"></script>
  <script src="{% static './js/components/AuthorRecipe.js' %}"></script>
  <script src="{% static './js/components/Header.js' %}"></script>
  <script src="{% static './js/api/Api.js' %}"></script>
  <script src="{% static './js/authorRecipe.js' %}"></script>
</body>
</html>
