{% extends "base.html" %}
{% load static %}
{% block title %}Пароль изменён{% endblock %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header" align="center">Пароль успешно изменён.</div>
            <div class="card-body" align="center">
                <p>
                    <a href="{% url 'index' %}">Перейти на главную.</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}