{% extends 'base.html' %}
{% block title %} Изменить пароль {% endblock %}
{% load user_filters %}
{% load static %}
{% block head %}
    {% include 'includes/nav.html' %}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    {% if form.errors %}
        {% for error in form.errors %}
            <span class="form__error">Пароль не изменён!</span>
        {% endfor %}
    {% endif %}

    <div class="form-container">
        <form class="form" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form__group" aria-required={% if field.required %}"true"{% else %}"false"{% endif %}>
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                    <div class="form__field-group">
                        {{ field|addclass:'form__input' }}
                    </div>
                </div>
            {% endfor %}
            <div>
            <p class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</p>
            <p class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</p>
            <p class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</p>
            <p class="form__input-info">Ваш пароль не может состоять только из цифр.</p>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue" type="submit">Изменить пароль</button>
            </div>
        </form>
    </div>
{% endblock %}