{% extends "base.html" %}
{% block title %}Пароль изменён{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header" align="center">Пароль изменён</div>
            <div class="card-body" align="center">
                <p>
                    Ваш пароль установлен. Вы можете идти вперед и <a href="{% url 'signin' %}">вы можете войти</a> сейчас.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}