{% extends 'base.html' %}
{% block title %}{{ headline }}{% endblock %}
{% load static %}
    {% block static %}
        <link rel="stylesheet" href="{% static 'pages/single.css' %}">
    {% endblock %}

{% block content %}

    <div class="single-card" data-id="">
        <div class="single-card__info">
            <div class="single-card__header-info">
                <h1 class="single-card__title">{{ headline }}</h1>
            </div>
            <div class="single-card__section">
                <p class=" single-card__section-text">{{ text }}</p>
                {% if github and instagram %}
                <a href="{{ github }}" style="color: black"><p class=" single-card__section-text">{{ github }}</p></a>
                <a href="{{ instagram }}" style="color: black"><p class=" single-card__section-text">{{ instagram }}</p></a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}