<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <style>a { text-decoration: none; }</style>
    {% load static %}
    {% block static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
    {% endblock %}
</head>
<body class="body">
<header class="header">
    {% include 'includes/nav.html' %}
</header>
    <main class="main container">
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
    </main>
    {% include 'includes/footer.html' %}
</body>
</html>