<!doctype html>
{% load static %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои подписки</title>
    <link rel="stylesheet" href="{% static './pages/myFollow.css' %}">
</head>
<body class="body">
<header class="header">
    {% csrf_token %}
{% include 'includes/nav.html' %}
</header>
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    <div class="card-list">
        {% for item in page %}
        <div class="card-user" data-author="{{ item.author.id }}">
        <div class="card-user__header">
            <h2 class="card-user__title"><a class="card__title link" href="{% url 'profile' item.author.username %}" style="color: black">{% firstof item.author.name item.author.username %}</a></h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {% for recipe in item.author.recipe.all|slice:":3" %}
                <li class="card-user__item">
                    <div class="recipe">
                        {% if recipe.image %}
                        <a class="card__title link" href="{% url 'recipe_view' recipe.author.username recipe.id %}" style="color: black">
                            <img src="{{ recipe.image.url }}" alt="какой-то-текст" class="recipe__image"></a>
                        {% else %}
                        <a class="card__title link" href="{% url 'recipe_view' recipe.author.username recipe.id %}" style="color: black">
                        <img src="{% static '/images/testCardImg.png' %}" alt="какой-то-текст"
                             class="recipe__image"></a>
                        {% endif %}
                        <h3 class="recipe__title"><a class="card__title link" href="{% url 'recipe_view' recipe.author.username recipe.id %}" style="color: black">{{ recipe.title }}</a></h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.coocking_time}} мин.</p>
                    </div>
                </li>
                {% endfor %}
                <li class="card-user__item">
                    <a href="{% url 'profile' item.author.username %}" class="card-user__link link">
                        {% if item.author.recipes.count > 3 %}
                        Еще {{ item.author.recipes.count|add:"-3" }} рецепт...
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-user__footer">
            {% csrf_token %}
            <div class="card-user__footer">
                    <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
                </div>
        </div>
    </div>
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
</main>
{% include 'includes/footer.html' %}
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/MyFollow.js' %}"></script>
<script src="{% static './js/components/Subscribe.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static './js/myFollow.js' %}"></script>
</body>
</html>
