<!doctype html>
{% csrf_token %}
{% load user_filters %}
{% load recipe_filters %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Рецепты</title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>
<body class="body">
<header class="header">
{% include "includes/nav.html" %}
</header>
<main class="main container">
        <div class="main__header">
            <h1 class="main__title">Все Рецепты</h1>
            {% include 'includes/tags.html' %}
        </div>
<div class="card-list">
    {% for recipe in page %}
    <div class="card" data-id="{{ recipe.id }}">
            <a href="{% url 'recipe_view' recipe.author.username recipe.id %}" class="link" target="_blank">
                {% if recipe.image %}
                    <img src="{{ recipe.image.url }}" width="364" height="240" alt="{% static '/images/testCardImg.png' %}"
                        class="card__image"></a>
                {% else %}
                <img src="{% static '/images/testCardImg.png' %}" width="364" height="240" alt=" Image was broken" class="card__image"></a>
                {% endif %}
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe_view' recipe.author.username recipe.id %}" target="_blank"> {{ recipe.title }}</a>
                    {% if recipe.tags %}
                    <ul class="card__items">
                    {% for tag in recipe.tags.all %}
                    <li class="single-card__item"><span class="badge badge_style_{{tag.color}}">{{ tag.name }}</span></li>
                    {% endfor %}
                    {% endif %}
                    </ul>
                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ recipe.coocking_time }} мин.</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{% firstof recipe.author.name recipe.author.username %}</a></p>
                </div>
            </div>
            <div class="card__footer">
                {% include 'includes/purchase_button.html' %}
                {% include 'includes/favorite_button.html' %}
            </div>
        </div>
    {% endfor %}
</div>
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
</main>
        {% include 'includes/footer.html' %}
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/Purchases.js' %}"></script>
<script src="{% static './js/components/CardList.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static './js/components/Favorites.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static './js/indexAuth.js' %}"></script>
{% else %}
<script src="{% static './js/indexNotAuth.js' %}"></script>
{% endif %}