<!doctype html>
{% load static %}
{% load user_filters %}
{% load recipe_filters %}
{% load thumbnail %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ recipe.title }}</title>
    <style>a { text-decoration: none; }</style>
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
</head>
<body class="body">
<header class="header">
{% include "includes/nav.html" %}
</header>
    <main class="main container">
        <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
            {% if recipe.image %}
            {% thumbnail recipe.image "450x450" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card__image">
            {% endthumbnail %}
            {% else %}
            <img src="{% static '/images/testCardImg.png' %}" alt=" Image was broken" class="card__image">
            {% endif %}
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{ recipe.title }}</h1>
                    <div class="single-card__favorite">
                    {% if user.is_authenticated %}
                    <div class="single-card__favorite">
                        {% if recipe|favorite_filter:request.user %}
                        <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_big"></span></button>
                        <div class="single-card__favorite-tooltip tooltip">Убрать из избранного</div>
                            {% else %}
                            <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                        <div class="single-card__favorite-tooltip tooltip">Добавить в избранное</div>
                        {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <ul class="single-card__items">
                    {% if recipe.tags %}
                    {% for tag in recipe.tags.all %}
                    <li class="single-card__item"><span class="badge badge_style_{{tag.color}}">{{ tag.name }}</span></li>
                    {% endfor %}
                    {% endif %}
                </ul>
                <div class="single-card__items single-card__items_column">
                    <p class="single-card__text"><span class="icon-time"></span> {{ recipe.coocking_time }} мин.</p>
                    <ul class="single-card__items">
                        <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span><a href="{% url 'profile' recipe.author.username %}" style="color: black">{% firstof recipe.author.name recipe.author.username %}</a></p></li>
                        {% if request.user == recipe.author %}
                        <li class="single-card__item"><a style="margin-left: 2.5em" href="{% url 'edit_recipe' recipe.author.username recipe.id %}" class="single-card__text">Редактировать рецепт</a></li>
                        {% endif %}
                    </ul>
                </div>
                <ul class="single-card__items">
                    {% include 'includes/purchase_button.html' %}
                    {% include 'includes/follow_button.html' %}
                </ul>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ингридиенты:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% for ingredient in recipe.recipelist.all %}
                        <p class=" single-card__section-item">{{ ingredient.ingredient.title }} - {{ ingredient.amount }}
                            {{ ingredient.ingredient.dimension }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Описание:</h3>
                    <p class=" single-card__section-text">{{ recipe.description }}</p>
                </div>
            </div>
                {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}
        </div>
    </main>
{% include "includes/footer.html" %}
{% if request.user.is_authenticated %}
<script src="{% static './js/components/Purchases.js' %}"></script>
<script src="{% static './js/components/Favorites.js' %}"></script>
<script src="{% static './js/components/Subscribe.js' %}"></script>
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/SingleCard.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static './js/singlePage.js' %}"></script>
{% else %}
<script src="{% static './js/components/Purchases.js' %}"></script>
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/SingleCard.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static './js/singlePageNotAuth.js' %}"></script>
{% endif %}
</body>
</html>
